:root {
  --bg: #f5f9f9;
  --fg: #1f2937;
  --card-bg: #ffffff;

  --button-name: #3b82f6;
  --button-hover-name: #2563eb;

  --button-clear: #f43d3d;
  --button-hover-clear: #dc3030;

  --button-random: #1ab505;
  --button-hover-random: #109f03;

  --remove-color: #ef4444;

  --font-family-base: 'Inter', sans-serif;
}
